


p{ 
    font-size: small;

}
 .back-image{
    /* background-image: url('https://img.wallpapersafari.com/desktop/1600/900/61/98/2SciB7.png'); */
    background-color: rgba(255,255,255, 0.1);
} 
.card-child{
    background-color: rgba(255,255,255, 0);
    
}


img{
    max-width: 520px;
    height: auto;
    /* padding: 20px; */
}
