<p>Listado Starships</p>



<!-- con el siguiente codigo verifico que mi ngFor funciona
    <ul>
    <li *ngFor="let item of starShipsList"> 
        {{item.name}}

    </li>
</ul> -->

<div class="row">
    <div class="col-8" *ngFor=" let item of starShipsList">
        <div class=" card">
            <div class="card-body">
                <p class="card-text">
                    <strong>{{item.name}}</strong>                 
                    
                </p>
                <p class="card-text">
                    {{item.model}}
                </p>

            </div>

        </div>

    </div>

</div>

