<div class="container">
    <div class="row p-4 d-flex justify-content-center">
        <div class="col-12">
            <p class="text-white text-center">More Info From Star Wars:</p>
        </div>
        <div class="col-md-8 text-center ">
            <p class="text-white ">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Error nobis et
            magnam nemo quam. Provident laboriosam tenetur, corrupti nesciunt quia a
            odio et adipisci nihil incidunt voluptatem porro id ullam!
            </p>
        </div>
        
        <div class="col-12 d-flex align-items-center justify-content-center social-footer">
            <a href="https://es-es.facebook.com/starwars.es/">
                <img src="../../../assets/img/icon_facebook.svg" alt="Facebook icon" class="mr-3">
            </a>
            <a href="https://twitter.com/starwars">
            <img src="../../../assets/img/icon_twitter.svg" alt="Twitter icon" class="mr-3">
            </a>
            <a href="https://www.instagram.com/starwars/">
                <img src="../../../assets/img/icon_instagram.svg" alt="Instagram icon" class="mr-3">
            </a>
            <a href="https://www.youtube.com/user/starwars">
                <img src="../../../assets/img/icon_youtube.svg" alt="Icon youtube icon">
            </a>
            

        </div>

    </div>
</div>
